name: Sync with upstream
on: 
  schedule:
    - cron: '30 22 * * *'
  workflow_dispatch:

jobs:
  merge-upstream:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Repo
        run: gh repo sync ${{ github.repository }} -b main
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          
